<div class="mainDiv">
  <header class="header">
    <h1>User Post and Comments</h1>
  </header>
  <div class="sub_div">
    <div class="userListDiv">
      <h2>Please select user to find their post:</h2>
      <button class="btn btn-primary" id='user' *ngFor="let user of userList" (click)="UsersPost(user)"
        [ngClass]="{'selected':user===selectedUser}">{{user.name
          | firstname}}
      </button>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <div class="postDiv" *ngIf="showUserPost">
      <h2>Posts from {{selectedUser.name}}</h2>
      <div *ngFor="let post of userPostList;let i=index">
        <div *ngIf="i < show">
          <button type="button" class="btn btn-primary pull-right"
            (click)="isCollapsed[post.id] = !isCollapsed[post.id]" [attr.aria-expanded]="!isCollapsed[post.id]"
            [attr.aria-controls]="'collapseViewMore-' + post.id" (click)="UserComments(post)">View
            comments</button>
          <div class="postItem">
            <h4>{{ post.title}}</h4>
            <h5>{{ post.body }}</h5>
            <div *ngIf="commentList?.length!=0" [id]="'collapseViewMore-' + post.id" [collapse]="!isCollapsed[post.id]"
              class="card card-block card-header">
              <h4>{{commentList.length}}&nbsp;Comments</h4>
              <div *ngFor="let comment of commentList">
                <div class="comments-list" *ngIf="comment.postId === selectedPost.id">
                  <div class="media">
                    <div class="media-body">
                      {{comment.body}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <button (click)="increaseShow()" class="btn btn-primary pull-right" *ngIf="postList.length>3"
        [disabled]="show >=postList.length">...Load
        more</button>
    </div>
  </div>
</div>